.baslik{
  background-color: rgb(105, 105, 192);
  margin-top: 10px;
  
}
.input{
  height: 25px;
  margin-top: 8px;
  background-color:aliceblue;
}
.about{
  margin-top: 8px;
  background-color:aliceblue;
}
.content{
  display: flex;
  flex-direction: row;
  
}
.submit{
 background-color: rgb(105, 105, 192);
  
}
.alt-baslik{
  color: black;
  width: 1%;
}
.baslik-serit{
  background-color: rgb(214, 207, 207);
}