.navbar{
  display: flex;
  width: 100%;
  height: 35px;
  background-color: rgb(71, 71, 214);
  
}
.links{
  color: white;
  display: flex ;
  margin-left: 15px;
  margin-top: 5px;
  text-decoration: none;

}

